{% extends "base.html" %}

{% block content %}
   <div class="row py-4">
      <div class="col-md">
         <div class="card card-body">
            <h5 class="text-capitalize">customer</h5>
            <hr>
            
            <a href="#" class="btn btn-outline-success btn-sm btn-block text-capitalize">update customer</a>

            <a href="#" class="btn btn-outline-info btn-sm btn-block text-capitalize">place order</a>
         </div>
      </div>

      <div class="col-md">
         <div class="card card-body">
            <h5 class="text-capitalize">contact information</h5>
            <hr>
            <p>email: {{ customers.email }}</p>
            <p>phone: {{ customers.phone }} </p>
         </div>
      </div>

      <div class="col-md">
         <div class="card card-body">
            <h5 class="text-capitalize">total orders</h5>
            <hr>
            
            <h1 class="text-center p-3"> {{ order_count }} </h1>
         </div>
      </div>
   </div>
   
   <div class="row py-4">
      <div class="col">
         <div class="card card-body">
            <form action="get">
               <button class="btn btn-primary text-capitalize" type="submit">rechercher</button>
            </form>
         </div>
      </div>
   </div>


   <div class="row py-4">
      <div class="col-md">
         <div class="card card-body">
            <table class="table table-sm">
               <tr>
                  <th class="text-capitalize">product</th>
                  <th class="text-capitalize">category</th>
                  <th class="text-capitalize">date ordered</th>
                  <th class="text-capitalize">status</th>
                  <th class="text-capitalize">update</th>
                  <th class="text-capitalize">remove</th>
               </tr>

               {% for n in orders %}
                  <tr>
                     <td> {{ n.product }} </td>
                     <td> {{ n.product.category }} </td>
                     <td> {{ n.date_created }} </td>
                     <td> {{ n.status }} </td>
                     <td class="font-weight-bold">
                        <a href="#" class="btn btn-sm btn-info">update</a> </td>
                     <td class="font-weight-bold">
                        <a href="#" class="btn btn-sm btn-danger">remove</a> </td>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>
   </div>        
{% endblock content %}
