{% extends "base.html" %}


{% block content %}
    {% include "partials/status.html" %}


    <div class="row py-4">
        <div class="col-md-5">
            <h5 class="text-uppercase">customers:  {{ total_customers }}</h5>
            <hr>

            <div class="card card-body">
                <a href="" class="btn btn-primary btn-sm btn-block text-uppercase">create customer</a>

                <table class="table table-sm">
                    <tr>
                        
                        <th class="text-uppercase">customer</th>
                        <th class="text-uppercase">phone</th>
                        <th></th>
                    </tr>

                    {% for c in customers %}
                        <tr>
                            <td> {{ c.name }} </td>
                            <td> {{ c.phone }} </td>
                            <td><a class="text-uppercase btn btn-sm btn-link" href="{{ c.get_absolute_url }}">detail</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <div class="col-md-7">
            <h5 class="text-uppercase">last 5 orders</h5>
            <hr>

            <div class="card card-body">
                <a href="{% url "accounts:create-order" %}" class="btn btn-primary btn-sm btn-block text-uppercase">create order</a>

                <table class="table table-sm">
                    <tr>
                        <th class="text-capitalize">product</th>
                        <th class="text-capitalize">date order</th>
                        <th class="text-capitalize">status</th>
                        <th class="text-capitalize">update</th>
                        <th class="text-capitalize">remove</th>
                    </tr>

                    {% for n in orders %}
                        <tr>
                            <td> {{ n.product.name }} </td>
                            <td> {{ n.date_created|date }} </td>
                            <td> {{ n.status }} </td>
                            <td class="font-weight-bold text-success"> <a href="{{ n.get_absolute_url }}" class="btn btn-sm btn-info text-capitalize">update</a> </td>
                            <td class="font-weight-bold"> <a href="{% url "accounts:delete-order" n.id %}" class="btn btn-sm btn-danger text-capitalize">remove</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}